.s-product-tabs {
	padding-top: 10px;

	&__btn-tabs-group {
		button {
			border-radius: 30px;
			padding: 16px 50px;
			border: 1px solid $dark-1;

			&:not(:first-child) {
				margin-left: 40px;
			}
		}

		@media (max-width: 404px) {
			flex-direction: column;

			button {
				margin-left: 0 !important;

				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	.s-product-description {
		width: 922px;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;

		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 2.38;
			letter-spacing: 0.2px;
			color: #737373;
		}

		&__list {
			border-left: 2px solid #ef4129;
			padding-left: 26px;
			margin-top: 30px;

			span {
				font-size: 16px;
				font-weight: 500;
				line-height: 2.38;
				letter-spacing: 0.2px;
			}
		}
	}

	.s-product-reviews {
		padding-top: 40px;
		width: 1440px;
		max-width: 95%;
		margin: 0 auto;

		& > div {
			@include media("max", "md") {
				margin: 0 !important;
			}
		}

		&__form {
			@include media("max", "md") {
				border-top: 1px solid $secondary-1;
				padding-top: 30px;
			}

			label {
				font-size: 18px;
				line-height: 1.33;
				letter-spacing: 0.1px;
				color: #252b42;
			}

			label[data-require="true"] {
				&:after {
					content: "*";
					color: #ef4129;
				}
			}

			input,
			textarea {
				padding: 12px 22px;
				border-radius: 16px;
				border: solid 1px #e5e5e5;
				background-color: #f9f9f9;
				font-size: 16px;
				line-height: 2;
				font-weight: 500;
				letter-spacing: 0.2px;
				color: $dark-1;

				&::placeholder {
					color: #737373;
				}

				&:focus {
					box-shadow: none;
					border: 1px solid #4e4e4e;
				}
			}

			textarea {
				resize: none;
			}

			button[type="submit"] {
				width: 100%;
				border-radius: 17px;
				padding: 17px 15px;
			}
		}
	}
}
