// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
	min-height: 105px;

	&__nav {
		align-items: center !important;
		ul {
			li {
				a {
					font-size: 14px;
					font-weight: normal;
					transition: 0.3s;

					&:hover {
						transform: scale(0.9);
					}
				}
			}
		}

		&_mobile-menu-icon {
			cursor: pointer;

			& > div {
				width: 30px;
				height: 3px;
				background-color: $dark-1;
				border-radius: 10px;
				transition: 0.3s;

				&:not(:first-child) {
					margin-top: 4px;
				}
			}

			// &-active {
			// 	& > div {
			// 		&:nth-child(1) {
			// 			transform: rotate(45deg);
			// 		}

			// 		&:nth-child(2) {
			// 			display: none;
			// 		}

			// 		&:nth-child(3) {
			// 			transform: rotate(-45deg);
			// 			margin-top: 0;
			// 			position: relative;
			// 			bottom: 3px;
			// 		}
			// 	}
			// }
		}
	}
}
