.top-nav {
	border-bottom: 1px solid $secondary-1;

	@media (max-width: 356px) {
		& > div {
			justify-content: center !important;
		}
	}

	@include media("min", "lg") {
		& > div {
			position: relative;
			height: 80px;
		}
	}

	&__logo {
		@include media("min", "lg") {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__working-hours {
		border-radius: 12.5px;
		height: 25px;
		font-size: 12px;

		&_text {
			height: 100%;
			border-radius: 12.5px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;

			@media (max-width: 356px) {
				display: none !important;
			}

			@include media("min", "md") {
				padding: 0 30px;
			}
		}

		&_time {
			padding: 0 30px;

			@media (max-width: 356px) {
				text-align: center;
				width: 100%;
			}
		}

		@include media("max", "sm") {
			width: 100%;
		}
	}
}
