.top-nav {
	border-bottom: 1px solid $secondary-1;

	&__working-hours {
		border-radius: 12.5px;
		height: 25px;
		font-size: 12px;

		&_text {
			height: 100%;
			border-radius: 12.5px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;

			@include media("min", "md") {
				padding: 0 30px;
			}
		}

		&_time {
			padding: 0 30px;
		}

		@include media("max", "sm") {
			width: 100%;
		}
	}
}
