.top-nav {
	border-bottom: 1px solid $secondary-1;

	&__working-hours {
		border-radius: 12.5px;
		height: 25px;
		font-size: 12px;

		&_text {
			height: 100%;
			border-radius: 12.5px;
			padding: 0 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&_time {
			padding: 0 30px;
		}
	}
}
