// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-montserrat: "Montserrat", sans-serif;

// Colors
$secondary-1: #e5e5e5;
$secondary-2: #737373;
$secondary-3: #f8f9fa;

$danger-1: #ef4129;

$success-1: #28a745;

$dark-1: #252b42;
