# js
/assets/scripts/jquery.min.js
/assets/scripts/bootstrap.min.js
/assets/scripts/popper.min.js
/assets/scripts/owl.carousel.min.js
/assets/scripts/aos.js
/assets/scripts/lightgallery.min.js
/assets/scripts/lg-video.min.js

# css
/assets/styles/**/*.css

/node_modules

