// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
	height: 105px;

	&__nav {
		align-items: center !important;
		ul {
			li {
				a {
					font-size: 14px;
					font-weight: normal;
					transition: 0.3s;

					&:hover {
						transform: scale(0.9);
					}
				}
			}
		}
	}
}
