.s-breadcrumb {
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
			rgba(000, 000, 000, 0.5),
			rgba(000, 000, 000, 0.5)
		),
		url(../../uploads/images/product/banner.png);
	background-position: center;
	background-repeat: repeat;

	& > div {
		padding: 15px 30px;
		background: rgba(255, 255, 255, 0.9);

		h1 {
			opacity: 0.8;
			font-family: Montserrat;
			font-size: 64px;
			font-weight: 900;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.07;
			letter-spacing: 5px;
			text-align: left;
			color: #f8c313;
		}
	}

	.breadcrumb {
		margin: 0;
		background-color: transparent;
		align-items: center;

		&-item {
			&:not(:first-child)::before {
				content: ">";
				color: #737373;
			}

			a {
				text-decoration: none;
				color: #696666;

				&:hover {
					color: #494949;
				}
			}
		}

		.active {
			color: rgb(141, 141, 141);
		}
	}
}
