// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Color
.text-secondary-1 {
	color: $secondary-1;

	&:hover {
		color: $secondary-1;
	}
}

.text-secondary-2 {
	color: $secondary-2;

	&:hover {
		color: $secondary-2;
	}
}

.text-secondary-3 {
	color: $secondary-3;

	&:hover {
		color: $secondary-3;
	}
}

.text-danger-1 {
	color: $danger-1;

	&:hover {
		color: $danger-1;
	}
}

.text-success-1 {
	color: $success-1;

	&:hover {
		color: $success-1;
	}
}

.text-dark-1 {
	color: $dark-1;

	&:hover {
		color: $dark-1;
	}
}

// Background
.bg-secondary-1 {
	background-color: $secondary-1;
}

.bg-secondary-2 {
	background-color: $secondary-2;
}

.bg-secondary-3 {
	background-color: $secondary-3;
}

.bg-danger-1 {
	background-color: $danger-1;
}

.bg-success-1 {
	background-color: $success-1;
}

.bg-dark-1 {
	background-color: $dark-1;
}

// cursor
.cursor-pointer {
	cursor: pointer;
}

// animation
.animation-scale {
	transition: 0.3s;

	&:hover {
		transform: scale(0.9);
	}
}
