.gallery {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 24px 50px 24px;

	@include media("min", "xl") {
		padding-bottom: 150px !important;
	}

	h3 {
		font-size: 40px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.43;
		letter-spacing: 0.2px;
		text-align: center;
		color: #000000;
		margin-bottom: 15px;
	}

	img {
		border-radius: 17px;
		margin-bottom: 30px;
	}

	a {
		display: inline-block;
	}

	li {
		margin-bottom: 25px;
		cursor: pointer;
	}

	#video-gallery {
		li {
			position: relative;

			img {
				height: 100%;
			}

			i {
				position: absolute;
				z-index: 2;
				left: 15px;
				top: 0;
				color: white;
				width: calc(100% - 30px);
				height: 100%;
				background-color: rgba(000, 000, 000, 0.3);
				display: flex;
				border-radius: 15px;
				justify-content: center;
				align-items: center;
				transition: 0.2s;
				font-size: 50px;

				&:hover {
					font-size: 45px;
				}
			}
		}
	}
}
