// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Color
.text-secondary-1 {
	color: $secondary-1;

	&:hover {
		color: $secondary-1;
	}
}

.text-secondary-2 {
	color: $secondary-2;

	&:hover {
		color: $secondary-2;
	}
}

.text-secondary-3 {
	color: $secondary-3;

	&:hover {
		color: $secondary-3;
	}
}

.text-secondary-4 {
	color: $secondary-4;

	&:hover {
		color: $secondary-4;
	}
}

.text-secondary-5 {
	color: $secondary-5;

	&:hover {
		color: $secondary-5;
	}
}

.text-secondary-6 {
	color: $secondary-6;

	&:hover {
		color: $secondary-6;
	}
}

.text-secondary-7 {
	color: $secondary-7;

	&:hover {
		color: $secondary-7;
	}
}

.text-danger-1 {
	color: $danger-1;

	&:hover {
		color: $danger-1;
	}
}

.text-success-1 {
	color: $success-1;

	&:hover {
		color: $success-1;
	}
}

.text-dark-1 {
	color: $dark-1;

	&:hover {
		color: $dark-1;
	}
}

.text-dark-4 {
	color: $dark-4;

	&:hover {
		color: $dark-4;
	}
}

.text-black {
	color: $black;

	&:hover {
		color: $black;
	}
}

// Background
.bg-secondary-1 {
	background-color: $secondary-1;
}

.bg-secondary-2 {
	background-color: $secondary-2;
}

.bg-secondary-3 {
	background-color: $secondary-3;
}

.bg-danger-1 {
	background-color: $danger-1;
}

.bg-success-1 {
	background-color: $success-1;
}

.bg-dark-1 {
	background-color: $dark-1;
}

.bg-dark-5 {
	background-color: $dark-5;
}

.bg-warning-gradient {
	background-image: linear-gradient($warning-1, $warning-2);
}

// cursor
.cursor-pointer {
	cursor: pointer;
}

// animation
.animation-scale {
	transition: 0.3s;

	&:hover {
		transform: scale(0.9);
	}
}

// rounded
.rounded-high {
	border-radius: 30px;
}

.py-normal {
	padding-top: 15px;
	padding-bottom: 15px;
}

.px-normal {
	padding-left: 50px;
	padding-right: 50px;
}

// font-size
.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}

.section-title {
	font-size: 40px;
	font-weight: bold;
}
